<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('minified/css/styles.css') }}" rel="stylesheet" />
    {% endblock %}
</head>
<body>
{% block body %}

    {% block content %}{% endblock %}

{% endblock %}

{% block script %}
    <script src="{{ asset('minified/js/javascript.js') }}"></script>
{% endblock %}

</body>
</html>