{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    {{ 'resetting.request.submit'|trans }}
{% endblock %}

{% block content %}

    <div class="container">
        <h3> </h3>
        <div class="text-center">
            {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}) }}
        </div>
    </div>
{% endblock %}
